Andrew Orr-Ewing FRS, Leverhulme Chair of Physical Chemistry, University of Bristol, UK<br>
Tom Oliver, Professor of Chemistry, University of Bristol, UK<br>
Verena Kriechbaumer, Professor, Oxford Brookes University, United Kingdom<br>
Khezar Saeed, Assistant Professor, Aarhus University, Denmark<br>
Ryan Pink, Professor of Genomics and Innovation, Oxford Brookes University, United Kingdom<br>
Chang Guo, Scientist, UKHSA, UK<br>
Laura Spagnolo, Professor of Biophysical Chemistry, University of Glasgow, United Kingdom<br>
Zoe Pikramenou, Professor of Inorganic Chemistry and Photophysics, University of Birmingham, UK<br>
Francesco Luigi Gervasio, Professor, University College London \(UCL\), UK<br>
Hicham Idriss, Prof. Hon., UCL, UK<br>
Henrike Müller-Werkmeister, Professor in Physical Chemistry, Uni Potsdam, Germany<br>
Anne Straube, Professor, University of Warwick, UK<br>
Philip Hofmann, Professor of Physics, Department of Physics and Astronomy, Aarhus University, Denmark<br>
Jens Bredenbeck, Professor, Goethe Universität, Germany<br>
Julia Stähler, Full Professoe, Humboldt-Universtät zu Berlin, Germany<br>
Patrick Robertson, Assistant Professor of Physical Chemistry, University of Nottingham, United Kingdom<br>
Giovanni Bressan, Leverhulme Early Career Fellow, University of East Anglia, United Kingdom<br>
Artem Bakulin, Associate professor, Imperial College London, UK<br>
Jon Marangos, Lockyer Chair in Physics, Imperial College, U.K.<br>
Russell Minns, Professor of Chemistry, University of Southampton, UK<br>
Martin Peeks, A/Prof, School of Chemistry, University of New South Wales, Australia<br>
Megan Poole, PhD Student, Royal Holloway, University of London, United Kingdom<br>
Michael Parkes, Senior Research Fellow, University College London, UK<br>
Phil King, Professor of Physics, University of St Andrews, UK<br>
Varinder Aggarwal, Professor, University of Bristol, UK<br>
Thomas Elsaesser, Director emeritus, Max Born Institute for Nonlinear Optics and Short-Pulse Spectroscopy, Berlin, Germany<br>
Hallam Greene, PhD Student, University of Bristol, United Kingdom<br>
Leticia Gonzalez, Professor, University of Vienna, Austria<br>
Imogen Sparkes, Senior lecturer, University of Bristol, UK<br>
Simon Kondrat, Senior lecturer, Loughborough university, Uk<br>
Alex Jones, Principal Scientist, NPL; Honorary Professor, UCL, NPL / UCL, UK<br>
Christian Pfrang, Professor of Atmospheric Science, University of Birmingham, United Kingdom<br>
<!-- AUTO-SIGNATORIES -->
