Andrew Orr-Ewing FRS, Leverhulme Chair of Physical Chemistry, University of Bristol, UK<br>
Tom Oliver, Professor of Chemistry, University of Bristol, UK<br>
Verena Kriechbaumer, Professor, Oxford Brookes University, United Kingdom<br>
Khezar Saeed, Assistant Professor, Aarhus University, Denmark<br>
Ryan Pink, Professor of Genomics and Innovation, Oxford Brookes University, United Kingdom<br>
Chang Guo, Scientist, UKHSA, UK<br>
Laura Spagnolo, Professor of Biophysical Chemistry, University of Glasgow, United Kingdom<br>
Zoe Pikramenou, Professor of Inorganic Chemistry and Photophysics, University of Birmingham, UK<br>
Francesco Luigi Gervasio, Professor, University College London \(UCL\), UK<br>
Hicham Idriss, Prof. Hon., UCL, UK<br>
Henrike Müller-Werkmeister, Professor in Physical Chemistry, Uni Potsdam, Germany<br>
<!-- AUTO-SIGNATORIES -->
