Andrew Orr-Ewing FRS, Leverhulme Chair of Physical Chemistry, University of Bristol, UK<br>
Tom Oliver, Professor of Chemistry, University of Bristol, UK<br>
Verena Kriechbaumer, Professor, Oxford Brookes University, United Kingdom<br>
Khezar Saeed, Assistant Professor, Aarhus University, Denmark<br>
Ryan Pink, Professor of Genomics and Innovation, Oxford Brookes University, United Kingdom<br>
Chang Guo, Scientist, UKHSA, UK<br>
Laura Spagnolo, Professor of Biophysical Chemistry, University of Glasgow, United Kingdom<br>
Zoe Pikramenou, Professor of Inorganic Chemistry and Photophysics, University of Birmingham, UK<br>
Francesco Luigi Gervasio, Professor, University College London \(UCL\), UK<br>
Hicham Idriss, Prof. Hon., UCL, UK<br>
Henrike Müller-Werkmeister, Professor in Physical Chemistry, Uni Potsdam, Germany<br>
Anne Straube, Professor, University of Warwick, UK<br>
Philip Hofmann, Professor of Physics, Department of Physics and Astronomy, Aarhus University, Denmark<br>
Jens Bredenbeck, Professor, Goethe Universität, Germany<br>
Julia Stähler, Full Professoe, Humboldt-Universtät zu Berlin, Germany<br>
Patrick Robertson, Assistant Professor of Physical Chemistry, University of Nottingham, United Kingdom<br>
Giovanni Bressan, Leverhulme Early Career Fellow, University of East Anglia, United Kingdom<br>
Artem Bakulin, Associate professor, Imperial College London, UK<br>
Jon Marangos, Lockyer Chair in Physics, Imperial College, U.K.<br>
Russell Minns, Professor of Chemistry, University of Southampton, UK<br>
Martin Peeks, A/Prof, School of Chemistry, University of New South Wales, Australia<br>
Megan Poole, PhD Student, Royal Holloway, University of London, United Kingdom<br>
Michael Parkes, Senior Research Fellow, University College London, UK<br>
Phil King, Professor of Physics, University of St Andrews, UK<br>
Varinder Aggarwal, Professor, University of Bristol, UK<br>
Thomas Elsaesser, Director emeritus, Max Born Institute for Nonlinear Optics and Short-Pulse Spectroscopy, Berlin, Germany<br>
Hallam Greene, PhD Student, University of Bristol, United Kingdom<br>
Leticia Gonzalez, Professor, University of Vienna, Austria<br>
Imogen Sparkes, Senior lecturer, University of Bristol, UK<br>
Simon Kondrat, Senior lecturer, Loughborough university, Uk<br>
Alex Jones, Principal Scientist, NPL; Honorary Professor, UCL, NPL / UCL, UK<br>
Christian Pfrang, Professor of Atmospheric Science, University of Birmingham, United Kingdom<br>
Tracey Clarke, Associate Professor, University College London, United Kingdom<br>
Eleanor Windle, Postdoctoral Researcher, University College Dublin, Ireland<br>
Sophia C. Hayes, Associate Professor, University of Cyprus, Cyprus<br>
Jonathan Keeling, Head of School of Physics and Astronomy, University of St Andrews, United Kingdom<br>
Andrew McMahon, Post doctoral research associate, University of Warwick, University of Warwick<br>
Glenn Burley, Professor of Chemical Biology, University of Strathclyde, United Kingdom<br>
Antonija Grubisic-Cabo, Assistant Professor, University of Groningen, Netherlands<br>
Laurence Hardwick, Professor, University of Liverpool, United Kingdom<br>
Kevin O'Keeffe, Senior Lecturer, Swansea University, United Kingdom<br>
Claire Vallance, Professor of Physical Chemistry, University of Oxford, UK<br>
Beatrice Jones, EPSRC Doctoral Prize Fellow, University of Cambridge, United Kingdom<br>
Susan Quinn, Professor of Chemistry, University College Dublin, Ireland<br>
Helen Fielding, Thomas Graham Professor of Chemistry, University College London, UK<br>
Robert Edkins, Senior Lecturer in Chemistry, University of Strathclyde, UK<br>
Dan Mulvihill, Professor of Cell and Molecular Biology, University of Kent, United Kingdom<br>
Uwe Bovensiepen, Professor, University of Duisburg-Essen, Germany<br>
Michael George, Professor of Chemistry, University of Nottingham, UK<br>
Allan Johnson, Research Professor, IMDEA Nanoscience, Spain<br>
Romain Geneaux, Group leader, CEA Paris-Saclay, France<br>
Samuel Beaulieu, Researcher, CNRS, France<br>
Stephen Meech, Prof. of Physical Chemistry, University of East Anglia, UK<br>
Thomas La Cour Jansen, Professor, University of Groningen, The Netherlands<br>
Martin Weinelt, Professor of Physics, Freie Universität Berlin, Germany<br>
Anam Fatima, Post-Doctoral Researcher, University of East Anglia, UK<br>
Pieter Neethling, Associate Professor, Stellenbosch Photonics Institute, Stellenbosch University, South Africa<br>
Klaas Wynne, Chair of Chemical Physics, University of Glasgow, UK<br>
Michael Ward, Chair of Faculty of Science, Engineering and Medicine, University of Warwick, UK<br>
Ioannis Liontos, Senior postdoctoral researcher, FORTH-IESL, Greece<br>
Garth Jones, Associate Professor of Theoretical Chemistry, University of East Anglia, United Kingdom<br>
Nigel Woolsey, Professor, University of York, UK<br>
Joseph Wright, Senior Lecturer in Energy Materials, University of East Anglia, United Kingdom<br>
Deborin Ghosh, Senior Research Associate, University of Bristol, United Kingdom<br>
James Bull, Associate Professor in Ultrafast Chemical Physics, University of East Anglia, United Kingdom<br>
Enrico Da Como, Associate Professor, University of Bath, United Kingdom<br>
Daniel Graczyk, PhD Candidate, School of Chemistry, University College Dublin, Ireland<br>
Eric Vauthey, Professor, University of Geneva, Switzerland<br>
Claire Grierson, Professor, University of Bristol, United Kingdom<br>
Naina Kushwaha, PhD student, University of St-Andrews, United Kingdom<br>
Jan Petter Hansen, Professor, University of Bergen, Norway<br>
Ettore Carpene, Researcher, CNR-IFN, Italy<br>
David Scott, Associate Professor and Reader, University of Nottingham, UK<br>
Michael Ashfold, Emeritus Professor, University of Bristol, U.K.<br>
Ian Eperon, Professor of Biochemistry, University of Leicester, UK<br>
Pascal SALIERES, Head of ATTOphysics Group, CEA Paris-Saclay, FRANCE<br>
Colin Bain, Professor of Chemistry, Durham University, UK<br>
Anthony Harriman, Professor Emeritus, Newcastle University, United Kingdom<br>
Christian Brahms, Associate Professor, Heriot-Watt University, United Kingdom<br>
Philipp Kukura, Professor of Chemistry, University of Oxford, United Kingdom<br>
Sigrun Lange, Professor of Molecular Pathobiology, University of Westminster, UK<br>
Andras Lukacs, Full professor, Department of Biophysics, Medical School, University of Pecs, Hungary, Hungary<br>
Majed Chergui, Emeritus Professor, EPF-Lausanne and Elettra Sincrotrone Trieste, Switzerland and Italy<br>
Jonathan Coulter, Professor of Pharmaceutical Nanoscience, Queen's University Belfast, Northern Ireland<br>
Martin King, Professor, Royal Holloway University of London, UK<br>
Benjamin Dietzek-Ivansic, Professor and Scientific Director, Leibniz Institute of Surface Engineering, Germany<br>
Mischa Bonn, Max Planck Director, Professor, Max Planck Institute for Polymer Research, Germany<br>
Andrew A. Pitsillides, PhD BSc Pitsillides, PhD BSc, Professor, Royal veterinary College, UK<br>
Sangeeta Sharma, Prof, FU- Berlin, Germany<br>
Derek Wann, Head of Department of Chemistry, University of York, UK<br>
Sofia Pascu, Professor, University of Bath, United Kingdom<br>
Sudipta Maiti, Senior Professor, BITS-Piani Hyderabad, India<br>
Peter Voehringer, Professor, University of Bonn, Germany<br>
Dimitri Chekulaev, Instrument Scientist, University of Sheffield, UK<br>
Neil Allan, Professor of Physical Chemistry, University of Bristol, UK<br>
Andrew McCluskey, Senior Lecturer, University of Bristol, United Kingdom<br>
Matthew Jessop, Senior Scientific Officer, The Institute of Cancer Research, UK<br>
Marten Vos, Emeritus research director, Ecole Polytechnique, France<br>
Mary Pryce, Professor of Chemistry, Dublin City University, Ireland<br>
Christine Cardin, Professor of Crystallography, Department of Chemistry, University of Reading, United Kingdom<br>
Nik Reeves-McLaren, Senior Lecturer, University of Sheffield, UK<br>
Duncan Bruce, Professor of Materials Chemistry, University of York, UK<br>
Gurthwin Bosman, Senior Lecturer, Stellenbosch Photonics Institute, Stellenbosch University, South Africa<br>
Hamish Yeung, Associate Professor of Materials Chemistry, University of Birmingham, UK<br>
Ralph Ernstorfer, Prof., Technical University Berlin, Germany<br>
Jim Thomas, Prof of Bio-inorganic Chemistry, University of Sheffield, UK<br>
luca perfetti, professor, Ecole Polytechnique, France<br>
Marius Horch, Research Group Leader, Freie Universität Berlin, Germany<br>
Oliver Alexander, Research Associate, Imperial College London, United Kingdom<br>
Sarah Berger, Research Assistant, University of Glasgow, United Kingdom<br>
Gesa Siemann, Postdoc, Aarhus University, Denmark<br>
Robin Perutz FRS, Emeritus Professor of Chemistry, former user of LSF and Chair of LSF Panel, University of York, UK<br>
Jan Lüning, Professor, Humboldt-Universität zu Berlin, Germany<br>
Joanne Woodhouse, Postdoctoral Researcher, Max Born Institute, Germany<br>
River Riley, Associate Professor of Chemistry \(Teaching\), UCL, UK<br>
Toby Whitfield, PhD Student, University College London, UK<br>
Vas Stavros, Professor of Physical Chemistry, University of Birmingham, UK<br>
Nathaniel Hill, PhD Student, University of Liverpool, United Kingdom<br>
Mariya Hristova, Principal Research Fellow, Universtity College London, UK<br>
Laszlo Veisz, Professor of Physics, Umea University, Sweden<br>
Aaron Gulotta, PhD Student, University of Southampton, United Kingdom<br>
Marina Kuimova, Professor of Chemical Physics, Imperial College London, UK<br>
Chris Toseland, Professor, University of Sheffield, UK<br>
James Blake, Student of Chemistry, University of Southampton, Uk<br>
Eleanor Keil, PGR, The University of Southampton, United Kingdom<br>
Leon Mutter, PGR, University of Southampton, UK<br>
Graham Worth, Professor of Computational Chemistry, University College London, UK<br>
Eugen Stulz, Professor in Medicinal Chemistry, University of Southampton, UK<br>
Colin Seaton, Associate Professor in Crystal Engineering, University of Bradford, UK<br>
John Tisch, Professor, Imperial College London, UK<br>
Hugo Marroux, Researcher, CEA, France<br>
Matthew Bucknell, Undergraduate Chemistry Student, University of Southampton, United Kingdom<br>
Sebastian Buchberger, Postdoctoral Researcher, University of St Andrews, United Kingdom<br>
Joshaniel Cooper, Instrument Scientist, European Spallation Source, Sweden<br>
Stefan Mattauch, Department head of JCNS instrument operation at MLZ, Forschungszentrum Jülich GmbH, Germany<br>
Albert Stolow, Professor and Canada Research Chair, University of Ottawa, Canada<br>
David Chisholm, Head of Technology, LightOx Ltd., United Kingdom<br>
Michele Puppin, Staff Scientist, EPFL, Ecole Polytechnique Federale de Lausanne, Switzerland<br>
Jack Woolley, Platform Manager, University of Warwick, United Kingdom<br>
Larissa Gomes Franca, Research Fellow, University of Cambridge, United Kingdom<br>
Kunal Kothekar, Physicist &amp; Sr. FPGA Engineer, CesiumAstro UK, United Kingdom<br>
Daniil Kazantsev, Senior software scientist, Diamond Light Source, United Kingdom<br>
Minhaeng Cho, Director, IBS Center for Molecular Spectroscopy and Dynamics, Republic of Korea<br>
Konstantin Ignatyev, Principal Beamline Scientist, Diamond Light Source, UK<br>
Min-Hsien Kao, Senior Research Associate, University of Bristol, United Kingdom<br>
Edward Stuckey, Postdoctoral Resesrcher, Uppsala University, Sweden<br>
Natercia Rodrigues, Research Fellow, Instituto Superior Técnico, University of Lisbon, Portugal<br>
Renee Frontiera, Professor, University of Minnesota, USA<br>
Patrick Loftus, PhD Candidate, Dublin City University, Republic of Ireland<br>
Rachel Evans, Professor of Materials Chemistry, University of Cambridge, United Kingdom<br>
Olga Shebanova, Seniour Support Scientist, Diamond Light Source Ltd, UK<br>
Iain Wilkinson, Research Group Leader, Helmholtz-Zentrum Berlin für Materiailien und Energie, Germany<br>
Ian Fairlamb, Professor in Chemistry, University of York, United Kingdom<br>
Iris Nandhakumar, Professor, University of Southampton, UK<br>
Julia Weinstein, Professor of physical chemistry, University of Sheffield, UK<br>
Tahei Tahara, Chief Scientist, RIKEN, Japan<br>
Vijayakumar P Rajamanickam, Marie-Curie Seal of Excellence Holder, University of Bristol, United Kingdom<br>
Lothar Schermelleh, Professor of Bioimaging, University of Oxford, United Kingdom<br>
Mahima Sneha, Assistant Professor, Dartmouth College, United States of America<br>
Ellen Backus, Professor, University of Vienna, Austria<br>
Ellie Fletcher, PhD student, University of Bristol, UK<br>
Marco Bianchi, First Researcher, SuperESCA beamline, Elettra-Sincrotrone Trieste S.C.p.A., Italy<br>
James Shipp, Postdoctoral Research Associate, University of Pittsburgh, United States / United Kingdom<br>
Peter Tonge, Distinguished Professor of Chemistry, Stony Brook University, USA<br>
Pauæina Majchrzak, Stanford Energy Postdoctoral Fellow, Stanford University, United States<br>
Chris Sparling, EPSRC Doctoral Prize Fellow, Institute of Photonics and Quantum Sciences, United Kingdom<br>
Akhil Rajan, Research Fellow, University of St Andrews, UK<br>
Alex Neale, UKRI Future Leaders Fellow and Lecturer, University of Liverpool, UK<br>
Laurenz Rettig, Professor, RPTU University Kaiserslautern-Landau, Germany<br>
Basile Curchod, Professor of Theoretical Chemistry, University of Bristol, UK<br>
alessia candeo, Associate professor, Politecnico di Milano, Italy<br>
Sagie Katz, Researcher, Technical university Berlin \(TU-Berlin\), Germany<br>
Adam Noble, Senior Lecturer, University of Bristol, UK<br>
Daniel Neumark, Melvin Calvin Distinguished Professor of Chemistry, University of California, Berkeley, USA<br>
Soumyamoy Pathak, PhD Student, Freie Universität Berlin, Germany<br>
Yurii Gun'ko, Professor of Chemistry, Trinity College Dublin, Ireland<br>
Matthew Partridge, Senior Enterprise Fellow, University of Southampton, England<br>
Marguerite Blignaut, Researcher, associate of the Biomedical Research Institute, Stellenbosch University, South Africa<br>
Lars Lauterbach, Professor, RWTH Aachen University, Germany<br>
Denise Poire, PHD STUDENT, Technical University Berlin, Argentina<br>
Holger Dobbek, Principal Investigator, Humboldt-Universität zu Berlin, Germany<br>
Louis Jakobson, PhD student, University of Bristol, United Kingdom<br>
Matthew Hall, PhD Student, University of Bristol, United Kingdom<br>
Willem Boutu, Director of LIDYL, CEA Paris Saclay, France<br>
Ludovic Troian-Gautier, Professor, UCLouvain, Belgium<br>
Wei Xiong, Professor, University of California, San Diego, United States<br>
Cornelius Bernitzky, PhD Student, FU Berlin, Germany<br>
Richard Strasser, Assoc. Prof., BOKU University Vienna, Austria<br>
Alexandra Stuart, Postdoctoral research associate, The University of Bristol, United Kingdom<br>
Kate Robertson, Postdoctorate researcher, CEA, France<br>
Nien-Hui Ge, Professor of Chemistry, University of California, Irvine, USA<br>
Kevin Kubarych, Professor, University of Ottawa, Canada<br>
Martin Volk, Honorary Reader, University of Liverpool, UK<br>
Thukshan Samarakoon, Postdoctoral Research Associate, University of Liverpool, UK<br>
Kai Rossnagel, Professor of Physics, Kiel University / DESY, Germany<br>
Milan Delor, Associate Professor, Columbia University, United States<br>
Thomas Allison, Professor, Stony Brook University, USA<br>
David Bacon, Laser Facility Manager, UCL Chemistry, UK<br>
Sofia Kapetanaki, Researcher, MAX IV Laboratory, Sweden<br>
Samuel Arrowsmith, PhD Student, University of Bristol, UK<br>
Nida Shahbax, PhD student, University of St Andrews, Uak<br>
Malin Khalil, PhD student, Freie Universität Berlin, Germany<br>
Ting An Lee, Postdoctoral Research Associate, University of Oxford, United Kingdom<br>
Victoria Taylor, Postdoctoral Researcher, Fritz Haber Institute, Berlin, Germany<br>
Peter Hamm, Professor, Department of Chemistry, University of Zurich, Switzerland<br>
Andrea Damascelli, Professor, University of British Columbia, Canada<br>
Mark Cragg, Professor of Experimental Cancer Biology, University of Southampton, UK<br>
Anna Bogush, Associate Professor, Coventry University, United Kingdom<br>
Paraic Keane, Clinical Biochemist, St. Vincent's University Hospital, Dublin, Ireland<br>
Peter D Lee, Professor, UCL, UK<br>
Sanjoy Patra, Postdoctoral Research Associate, University of Bristol, United Kingdom<br>
Allison Stelling, Adjunct Professor, Department of Chemistry and Biochemistry, University of Texas at Arlington, USA<br>
Jordan Mulvaney, PhD Student, University College Dublin, Ireland<br>
Matthew Bain, Staff Scientists, SLAC National Accelerator Laboratory, USA<br>
Louis DiMauro, Professor, The Ohio State University, United States<br>
Jacob Kleboe, PhD Student, University of Southampton, United Kingdom<br>
Yasuhisa Mizutani, Professor, The University of Osaka, Japan<br>
Filipe Braga, Staff scientist, Shinshu University, Japan<br>
Hideaki Ogata, Professor, Graduate School of Science, University of Hyogo, Japan<br>
Bern Kohler, Professor of Chemistry and Biochemistry, Ohio Eminent Scholar, The Ohio State University, USA<br>
David Osborn, Adjunct Professor of Chemical Engineering, University of California, Davis, United States of America<br>
Gourab Chatterjee, Scientist, Linac Coherent Light Source \(LCLS\), SLAC National Accelerator Laboratory, USA<br>
Rhea Kumar, Postdoctoral researcher, Politecnico di Milano, Italy<br>
Elizaveta Kobeleva, PhD student, Free University Berlin, Germany<br>
Angel Cuesta Ciscar, Personal Chair/Full professor, University of Aberdeen, United Kingdom<br>
Takashi Lawson, EPSRC Postdoctoral Research Fellow, University of Cambridge, UK<br>
Cate Anstöter, Lecturer in physical chemistry, University of Glasgow, Scotland<br>
Caleb Jordan, Senior Research Associate, University of Bristol, United Kingdom<br>
Bruno Kenichi Saika, Post-doctoral researcher, University of St Andrews., United Kingdom<br>
Benjamin Elias, Full Professor, UCLouvain, Belgium<br>
Joe Davies, PhD Student, University of Warwick, United Kingdom<br>
Lorenzo Frigerio, Professor, University of Warwick, UK<br>
Francis Pope, Professor of Atmospheric Science, University of Birmingham, UK<br>
Dave Townsend, Professor of Physics, Heriot-Watt University, United Kingdom<br>
Stefan Haessler, Research Scientist, CNRS, LOA, France<br>
Katharine Reid, Professor of Chemical Physics, University of Nottingham, UK<br>
Sergey Borisenko, Group Leader, IFW-Dresden, Germany<br>
Antonin Vlcek, Professor of inorganic chemistry, emeritus, Queen Mary University of London, UK<br>
Martin Pizl, Assistant professor, University of Chemistry and Technology Prague, Czech republic<br>
Mugerabe Zerabza, PhD Student, University of Bath, United Kingdom<br>
Adrian Gardner, Facility Manager, Early Career Laser Laboratory, University of Liverpool, UK<br>
Pengwei Wang, Professor, Huazhong Agricultural University, China<br>
Natali Fili, Senior Lecturer, University of Lincoln, UK<br>
Jyotishman Dasgupta, Professor \(H\), Tata Institute of Fundamental Research, Mumbai, INDIA<br>
Rebecca Ingle, Associate Professor, University College London, United Kingdom<br>
Chu Lun Alex Leung, Associate Professor in Advanced Manufacturing, University College London, United Kingdom<br>
Connor Barker, Research Fellow, University College London, United Kingdom<br>
Jason Lynam, Professor of Inorganic Chemistry, University of York, UK<br>
Rhys Mould, Research Fellow, University of Westminster, United Kingom<br>
Ross Anderson, PhD Student, Heriot-Watt University, United Kingdom<br>
Markus Frey, Deputy Science Leader Atmosphere, Ice and Climate, British Antarctic Survey, United Kingdom<br>
Maciej Dendzik, Researcher, KTH, Sweden<br>
Rebecca Milot, Associate Professor, University of Warwick, UK<br>
Russell Howe, Emeritus Professor of Materials Chemistry, University of Aberdeen, United Kingdom<br>
Carlos Baiz, Associate Professor, University of Texas at Austin, United States<br>
Pedro Silva, Master Student, GreenUPorto, INOV4AGRO, Faculty of Sciences, University of Porto, Portugal<br>
Felix Castellano, Goodnight Innovation Distinguished Chair and Professor, North Carolina State University, USA<br>
Franck LEPINE, Research Director, CNRS Lyon, FRANCE<br>
Debkumar Rana, Postdoctoral Fellow, Max Born Institute for Nonlinear Optics &amp; Short Pulse Spectroscopy, Germany<br>
Lou Barreau, Assistant Professor, Université Paris-Saclay, France<br>
Nicolas Gauthier, Research associate, Institut National de la Recherche Scientifique, Canada<br>
Viktor Zarsky, Professor of plant biology, Charles University, Faculty of Science, Czech republic<br>
Ruby Newman, Chemistry Undergraduate, University of Southampton, UK<br>
Christopher Ridgers, Professor, University of York, UK<br>
Tak Kee, Associate Professor, Adelaide University, Australia<br>
Reem Alraddadi, Researcher, University of York, UK<br>
Roger Bisby, Emeritus Professor, University of Salford, UK<br>
Jerome Kasparian, Professor, University of Geneva, Switzerland<br>
Charles Sayers, Postdoctoral Researcher, Politecnico di Milano, Italy<br>
Chiara Trovatello, Assistant Professor of Physics, Politecnico di Milano, Italy<br>
Kai Chen, Senior Scientist, Victoria Univeristy of Wellington, New Zealand<br>
Rajeev Pattathil, Adjunct Professor of Physics, Tata Institute of Fundamental Research, India<br>
Giulio Cerullo, Full Professor, Politecnico di Milano, Italy<br>
Sever Dragomir, PhD Student, Imperial College London, United Kingdom<br>
Oleg Dogadov, Postdoctoral Researcher, Fritz Haber Institute, Germany<br>
Sam Hay, Professor of Biophysical Chemistry, University of Manchester, UK<br>
Alexander Cowan, Professor of Chemistry, University of Liverpool, UK<br>
Frantisek Hartl, Professor of Inorganic Chemistry \(Emeritus\), University of Reading, United Kingdom<br>
Inés Lezcano González, Dame Kathleen Ollerenshaw Fellow and Harwell Fellow, The University of Manchester, United Kingdom<br>
Michael Quin, Postdoc, Gothenburg University, Sweden<br>
Shu Mo, PhD Student, University of St Andrews, UK<br>
M. Asuncion Molina Esquinas, Postdoctoral Research Associate, Diamond Light Source, UK<br>
Andrew Higginbotham, Senior Lecturer, University of York, UK<br>
Karol Hricovini, Professor emeritus, Cy Cergy Paris University and CEA Saclay, France<br>
Ottavio Croze, Lecturer, Newcastle University, UK<br>
Marco Marcello, Facility Manager, University of Liverpool, United Kingdom<br>
Alex Payne-Dwyer, Senior Technical Specialist, University of York, UK<br>
Anne L'Huillier, Professor, Lund University, Sweden<br>
Katharina Kreissig, Laboratory Manager, Imperial College London, UK<br>
Mads Gabrielsen Gabrielsen, Technical Lead, University of Glasgow, United Kingdom<br>
Nicholas Stone, Professor of Biomedical Imaging and Biosensing, University of Exeter, UK<br>
Jorge Bernardino de la Serna, Associate Professor, Imperial College London, United Kingdom<br>
Barbara Procacci, Research Fellow, The University of York, UK<br>
Sarah Irons, Enterprise Centre &amp; Bioinnovation Hub manager, Oxford Brookes University, UK<br>
Yin Hoon Chew, Assistant Professor, University of Birmingham, United Kingdom<br>
Marco G. Mazza, Senior Lecturer, Loughborough University, United Kingdom<br>
Benjamin Gardner, Lecturer in Physics, University of Exeter, UK<br>
Nikita Nemkov, Research Scientist, Russian Quantum Center, Russia<br>
Akash Sivananthan, PhD student, University College London, UK<br>
Adrian Hartley, Professor, University of Aberdeen, UK<br>
Marie Held, Image Analyst in a Shared Research Facility, University of Liverpool, UK<br>
Paul Newton, Professor of Tropical Medicine, University of Oxford, UK<br>
Meiyue Liu, PhD student, University of Bristol, United Kingdom<br>
Tomas Martin, Associate Professor, University of Bristol, United Kingdom<br>
Giovanni Pesce, Associate Professor, Northumbria University, United Kingdom<br>
Jacob Jones, PhD Student, University of Bristol, UK<br>
Philip R Davies Davies, Professor of Physical Chemistry, Cardiff University, UK<br>
Darrell Cobon, Senior Technician, University of Nottingham, UK<br>
Virginia Silio, Research Technical Specialist- Imaging, University College London, UK<br>
Christina Reinhard, Senior Technical Specialist, The University of Manchester, UK<br>
Glyn Nelson, Light Microscopy Facility Manager, Newcastle University, UK<br>
Dean Kavanagh, Associate Professor of Cardiovascular Science, Department of Cardiovascular Sciences, School of Medical Sciences, College of Medicine and Health, University of Birmingham, United Kingdom<br>
Michael Flynn, Senior Technician \(Mechanical\), Heriot-Watt University, UK<br>
Georgina Fletcher, Project Officer, BioImagingUK, UK<br>
Rory Cooper, Research Fellow, University of Sheffield, United Kingdom<br>
John Pasley, Reader, University of York, U.K.<br>
Claudia Conti, Research Director, National Research Council of Italy \(CNR\), Italy<br>
Christian Eggeling, Professor of Superresolution Microscopy and Director Institute of Applied Optics and Biophysics, Leibniz Institute of Photonic Technologies e.V. &amp; Friedrich-Schiller University Jena, Germany<br>
Alberto Lux, Research Engineer, ICGM, France<br>
Chiara Colombo, Senior Researcher and Coordinator of the CNR-ISPC Secondary Site in Milan, CNR, Italy<br>
Renzo Vanna, Principal Investigator, Consiglio Nazionale delle Ricerche - Institute for Photonics and Nanotechnology, Italy<br>
Darren Batey, Principal Scientist, Diamond Light Source, UK<br>
Elena Possenti, Senior researcher, National Research Council CNR - ISPC, Italy<br>
Chris Middleton, Vice President &amp; Chief Technology Officer, PhaseTech Spectroscopy, Inc., United States<br>
Bill Brocklesby, Emeritus Fellow in Photonics, University of Southampton, UK<br>
Felix Allum, Humboldt Research Fellow, Deutsches-Elektronen Synchrotron, Germany<br>
Kees Straatman, Facility Manager, University of Leicester, UK<br>
AVINASH C SHARMA, EMERITUS PROFESSOR, SOUTH ASIAN UNIVERSITY, INDIA<br>
Michael Deeks, Senior Lecturer, University of Exeter, UK<br>
Jessy Silva, Postdoctoral researcher, University of Porto, Portugal<br>
Sandie Dann, Professor of Materials Chemistry, Loughborough University, uk<br>
Sean Garrett-Roe, Associate Professor, University of Pittsburgh, USA<br>
Bogdan Dereka, Assistant Professor, Department of Chemistry, University of Zurich, Switzerland<br>
Ryan Phelps, Facility Scientist/Early career researcher, UKRI, United Kingdom<br>
Karl Michael Ziems, Lecturer in Computational Chemistry, University of Southampton, United Kingdom<br>
Dr. Nicholas Martin, Retired, Rett, United Kingdom<br>
Mathesh Vaithiyanathan, PhD student, Freie Universität Berlin, Germany<br>
Antonio Sansonetti, Senior Researcher, Institute for Heritage Science - National Research Council, Italy<br>
Jitka Ortmannova, postdoc, IEB AS CR, Czech Republic<br>
Dr. Girija Perumal, Professor, Annamalai university, India<br>
Francesca Palombo, Head of Department of Physics / Professor of Biomedical Spectroscopy, University of Exeter, UK<br>
John Kelly, Professor Emeritus, Trinity College Dublin, Ireland<br>
Luis ROSO, Full Prof, Universidad de Salamanca, SPAIN<br>
Christine Richter, Professor of Physics, CY Cergy Paris University, France<br>
Harry Richardson, PhD student, University of Bristol, Uk<br>
Magdalena Ulmeanu-Stanton, Applications Engineer, Oxford Instruments Plasma Technology, UK<br>
Elizabeth Gibson, Professor of Energy Materials, Newcastle University, United Kingdom<br>
Yoshiko Nanao, Post-doc researcher, University of St Andrews, UK<br>
Reena Al-Mualem, Scientist, PhaseTech Spectroscopy, Inc., USA<br>
Ben Sutcliffe, Microscopy Specialist, University of Cambridge, United Kingdom<br>
Alan Marron, Light Microscopy Specialist, Oxford Brookes Centre for BioImaging, UK<br>
Michael Cotterell, Associate Professor of Chemistry, University of Oxford, United Kingdom<br>
James Pickering, Lecturer in Physical Chemistry, University of Leicester, United Kingdom<br>
Alexander Tarnovsky, Professor of Chemistry, Bowling Green State University, USA<br>
Ger Doorley, Postdoc, Formerly Trinity College Dublin, USA<br>
Céline Caillet, Deputy Head of the Medicine Quality Research Group, University of Oxford, United Kingdom<br>
Amy Edmeades, PhD student, Cardiff University, UK<br>
Derri Hughes, PhD Researcher, University of Southampton, UK<br>
Giulia Giubertoni, Research Fellow, University of Amsterdam, The Netherlands<br>
Kasra Amini, ERC Starting Grant group leader, Max-Born-Institut, Germany<br>
Ethan Cunningham, Na, Na, United Kingdom<br>
David Heathcote, Postdoctoral researcher, University of Oxford, United Kingdom<br>
Eladio Prieto Zamudio, Research fellow, Unicersity of Southampton, United Kindom<br>
Alexandre Soujaeff, Engineer, exail, France<br>
Ignas Abromavičius, Sales Engineer, Light Conversion, Lithuania<br>
Don Aborah, MSci Medicinal and Biological Chemistry, University of Nottingham, England<br>
Tjalling De Boer, Sales Development Manager, Scientific &amp; Instrumentation, Coherent Corp., Germany<br>
Marcello Righetto, Assistant Professor, Università degli Studi di Padova, Italy<br>
Yueting Sun, Associate Professor, UKRI Future Leaders Fellow, University of Birmingham, United Kingdom<br>
James Birrell, Lecturer, University of Essex, UK<br>
Ricardo Fernández-Terán, SNSF Ambizione fellow / Junior group leader, University of Geneva, Switzerland<br>
Raj Pandya, Assistant Professor, University of Cambridge and University of Warwick, UK<br>
Cephise CACHO, Science Group Leader, Diamond Light Source, UK<br>
Sander Woutersen, professor, University of Amsterdam, The Netherlands<br>
Ravi Kumar Venkatraman, Assistant Professor, SRM Institute of Science and Technology, India<br>
Joelle Goulding, Senior Research Fellow, University of Nottingham, United Kingdom<br>
Berta Martins, Research Assistant, Humboldt-Universität zu Belin, Germany<br>
Thierry Ruchon, Research Director, CEA Saclay, France<br>
Matthew Collier, Student, University of Southampton, United Kingdom<br>
Marc Vrakking, Director, Max-Born Institute Berlin, Germany<br>
Samuel Horsewill, PDRA, University of Bath, United Kingdom<br>
Baichhabi Raj Yakami, Ultrafast Scientist, PhaseTech Spectroscopy, USA<br>
Nathaniel Gallop, Postdoctoral Research Associate, Queen Mary University of London / Leibniz Institute for Solid-State and Materials Research Dresden, United Kingdom<br>
Ajay Jha, Associate Investigator, Rosalind Franklin Institute, United Kingdom<br>
D Chandrasekhar Kakarla, Adjunct Assistant Professor, National Sun Yat-sen University, Taiwan<br>
Manuel Moliner, Professor, Instituto de Tecnologia Quimica \(CSIC-UPV\), Spain<br>
Maddy Parsons, Professor of Cell Biology, King's College London, UK<br>
Mercedes Boronat, Scientific Researcher, Consejo Superior Investigaciones Científicas CSIC, Spain<br>
Katharina Edkins, Professor, University of Strathclyde, United Kingdom<br>
Abbie Madden, PhD student, University of Strathclyde, UK<br>
Sebastian Gilbert, Image and Spatial Omics Computational Scientist, University of British Columbia, Canada<br>
Tran Trung Luu, Associate Professor, The University of Hong Kong, Hong Kong<br>
Lara Denninger, PhD student, Goethe Universität, Germany<br>
Philip Ash, Lecturer in Chemistry, University of Leicester, UK<br>
<!-- AUTO-SIGNATORIES -->
